body {
  background-color: #000;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 90%;
  border: 1px solid #fff;
  text-align: center;
  margin: 20px auto;
  padding-bottom: 30px;
  background-color: #fff;
}
 .details {
  width: 80%;
  margin: 0 auto;
 }

.flex-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.offset-div {
  flex-direction: row;
  margin: 0 auto;
}

.offset-div div {
  align-self: center;
  display: block;
  box-sizing: border-box;
  padding: 10px;
  height: auto;
}

form p {
  margin: 0;
}

.converter-div {
  height: 300px;
  flex-direction: row;
}

.converter-div div {
  align-self: center;
  width: 40%;
}

.block {
  display: block;
}

.none {
  display: none;
}

label {
  text-align: left;
}

textarea {
  width: 80%;
  margin: auto;

}
.box {
  height: 200px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
#result {
	margin-top: 43px;
	text-align: left;
	width: 32%;
  color: #8c858c;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 1.5px;
}
#reset {
 	margin: 0 auto;
 }

#error-message {
	color: red;
}

input[type=button] {
  background-color: #fff;
  border: none;
  font-size: 16px;
  margin-top: 20px;
 }

.active {
  color: #DF013A;
  border-bottom: 2px solid #DF013A !important;
}

input {
   font-family: 'Lato', sans-serif;
}
/**responsive**/
@media only screen and (max-width: 740px) {
.converter-div {
  flex-direction: column;
  height: auto;
  width: 100%;
}

.converter-div div {
  width: 90%;
}

#result {
	width: 72%;
}
}